section
    h1 Node.js
    h1 Introduction
    h4 by Mateusz Jaworski
    h4 April 2016

section
    section
        img.logo(src="src/images/nodejs.png")
        ul
            li open-source, cross-platform, MIT license
            li asynchronous, event driven
            li event loop as a language construct not library
            li shell/repl (read-eval-print-loop)
            li npm - package manager
            li other: Twisted (python), Vert.x (Java, Ruby, Scala, Clojure...)

    section
        h2 History
        ul
            li 2009 - originally written by Ryan Dahl
            li 2011 - added npm and support for Windows
            li 2014 - Fedor Indutny started io.js, a fork of Node.js
            li 2015 - Node.js v0.12 and io.js v3.3 merged back into Node v4.0

section

    section
        h2 Architecture
        img(height=500 src="src/images/architecture.png")
        small @source: &nbsp;
            a(href="http://mcgill-csus.github.io/student_projects/Submission2.pdf") An Inside Look at the Architecture of NodeJS

    section
        h2 Architecture
        ul
            li core written in C, C++
            li single main thread, non-blocking I/O calls
            li no cost of thread context switching
            li thread pool for parallel tasks, when done main thread wakes up and executes the registered callback
            li registered within operating system, operating system issues a callback on connection

    section
        img.logo(src="src/images/v8.png")
        h2 Google’s V8 JavaScript engine
        ul
            li compiles JavaScript into native code
            li garbage collector
            li optimizer
            li re-optimizer (at runtime)
                ul
                    li based on heuristics of the code's execution profile
                    li inline expansion
                    li inline caching
                    li copy elision

    section
        img.logo(src="src/images/libuv.png")
        h2 libuv - multi-platform asynchronous I/O
        ul
            li developed for use by Node.js, also used by others
            li event loop
            li asynchronous TCP/UDP sockets and DNS resolution
            li asynchronous file system operations
            li child processes
            li thread pool

section
    h2 The rest is under construction...
    div.
        # node fundation
        sponsored by Joyent, a software company specializing in high-performance cloud computing
        Node.js Foundation. All Rights Reserved. Portions of this site originally © 2016 Joyent.
        Joyent uses and supports open source projects, including Ruby on Rails,[8] Node.js,[9][10] Illumos and SmartOS
        Node.js is a trademark of Joyent, Inc. and is used with its permission. Please review the Trademark Guidelines of the Node.js Foundation.
        Linux Foundation is a registered trademark of The Linux Foundation.
        Linux is a registered trademark of Linus Torvalds.

        # multithreading
        - child_process.fork()
        - cluster module

        # frameworks
        Connect, Express.js, Socket.IO, Koa.js, Hapi.js, Sails, Meteor, Derby

        # other
        - c++ addons
        - debugger (via chrome dev tools)
        - events emitter
        - fs
        - globals
        - require vs modules path
        - os/path/process/querystring/zlib
        - vm - sandboxing

section
    h2 This is all for now...

section
    h2 Thanks!













